{% extends 'wrapper.html'%}

{% block title %}
    Schedule
{% endblock %}

{% block content %}
<table class="table">
    <thead>
        <th>День недели</th>
        <th>Дисциплина</th>
        <th>Преподаватель</th>
        <th>Начало пары</th>
    </thead>
    <tbody>
        {% for pair in schedule%}
            <tr>
                <td>
                    {{ pair.get_day_display }}
                </td>
                    <td>
                        {{ pair.dicipline }}
                    </td>
                    <td>
                        {{ pair.teacher }}
                    </td>
                    <td>
                        {{ pair.bell.start }}
                    </td>                    
            </tr>
        {% endfor %}
    </tbody>

</table>
    
{% endblock %}