{% extends 'wrapper.html'%}

{% block title %}
    Marks
{% endblock %}

{% block content %}
    <h1>Ваши отметки</h1>
    <hr>
    <table class="table table-striped">
        <thead>
            <th>Предмет</th>
        </thead>
        <tbody>
            {% for dicipline, marks in marks.items %}
            <tr>
                <td>{{dicipline}}</td>
                {% for mark in marks %}
                <td>{{mark}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}