{% extends "wrapper.html" %}

{% block title %}
{% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success" type="submit">
            Добавить   
        </button>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>ФИО</th>
                <th>Отметка</th>
            </tr>
        </thead>
        <tbody>
            {% for student, mark in exam_marks.items %}
                <tr>
                    <td>
                        {{ student.surname}}
                    </td>
                        <td>
                            {{ mark }}
                        </td>
                
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}