{% extends "wrapper.html" %}

{% block title %}
{% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">
            Добавить   
        </button>
    </form>

    <table class="table">
        <thead>
            <th>ФИО</th>
            {% for date in dates %}
                <th>{{ date.0 }}</th>
            {% endfor %}
        </thead>
        <tbody>
            {% for student, marks_list in marks.items %}
                <tr>
                    <td>
                        {{ student.surname}}
                    </td>
                    {% for date, mark in marks_list.items%}
                        <td>
                            {{ mark }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}