{% extends 'wrapper.html' %}

{% block title %}
Teachers
{% endblock %}

{% block content %}
<h1>Список преподавателей</h1>
<hr>
{% for teacher in teachers_list %}
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            {% if teacher.photo %}
            <img src="{{ teacher.photo.url }}" class="img-fluid rounded-start" style="object-fit: cover;height: 250px; width: 250px;">
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">{{teacher}}</h3>
                <p class="card-text">
                    <ul>
                        <li>{{ teacher.rang }}</li>
                        <li>{{ teacher.email }}</li>
                        <li>{{ teacher.diciplines }}</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
